@font-face {
    font-family: 'Mazzard H';
    src: url('MazzardH-BlackItalic.eot');
    src: local('Mazzard H Black Italic'), local('MazzardH-BlackItalic'),
        url('MazzardH-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('MazzardH-BlackItalic.woff2') format('woff2'),
        url('MazzardH-BlackItalic.woff') format('woff'),
        url('MazzardH-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mazzard H';
    src: url('MazzardH-Black.eot');
    src: local('Mazzard H Black'), local('MazzardH-Black'),
        url('MazzardH-Black.eot?#iefix') format('embedded-opentype'),
        url('MazzardH-Black.woff2') format('woff2'),
        url('MazzardH-Black.woff') format('woff'),
        url('MazzardH-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mazzard H';
    src: url('MazzardH-Medium.eot');
    src: local('Mazzard H Medium'), local('MazzardH-Medium'),
        url('MazzardH-Medium.eot?#iefix') format('embedded-opentype'),
        url('MazzardH-Medium.woff2') format('woff2'),
        url('MazzardH-Medium.woff') format('woff'),
        url('MazzardH-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mazzard H';
    src: url('MazzardH-LightItalic.eot');
    src: local('Mazzard H Light Italic'), local('MazzardH-LightItalic'),
        url('MazzardH-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('MazzardH-LightItalic.woff2') format('woff2'),
        url('MazzardH-LightItalic.woff') format('woff'),
        url('MazzardH-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mazzard H';
    src: url('MazzardH-ExtraLight.eot');
    src: local('Mazzard H ExtraLight'), local('MazzardH-ExtraLight'),
        url('MazzardH-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('MazzardH-ExtraLight.woff2') format('woff2'),
        url('MazzardH-ExtraLight.woff') format('woff'),
        url('MazzardH-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mazzard H';
    src: url('MazzardH-Light.eot');
    src: local('Mazzard H Light'), local('MazzardH-Light'),
        url('MazzardH-Light.eot?#iefix') format('embedded-opentype'),
        url('MazzardH-Light.woff2') format('woff2'),
        url('MazzardH-Light.woff') format('woff'),
        url('MazzardH-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mazzard H';
    src: url('MazzardH-ExtraBoldItalic.eot');
    src: local('Mazzard H ExtraBold Italic'), local('MazzardH-ExtraBoldItalic'),
        url('MazzardH-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('MazzardH-ExtraBoldItalic.woff2') format('woff2'),
        url('MazzardH-ExtraBoldItalic.woff') format('woff'),
        url('MazzardH-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mazzard H';
    src: url('MazzardH-MediumItalic.eot');
    src: local('Mazzard H Medium Italic'), local('MazzardH-MediumItalic'),
        url('MazzardH-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('MazzardH-MediumItalic.woff2') format('woff2'),
        url('MazzardH-MediumItalic.woff') format('woff'),
        url('MazzardH-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Mazzard H';
    src: url('MazzardH-Italic.eot');
    src: local('Mazzard H Italic'), local('MazzardH-Italic'),
        url('MazzardH-Italic.eot?#iefix') format('embedded-opentype'),
        url('MazzardH-Italic.woff2') format('woff2'),
        url('MazzardH-Italic.woff') format('woff'),
        url('MazzardH-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mazzard H';
    src: url('MazzardH-Thin.eot');
    src: local('Mazzard H Thin'), local('MazzardH-Thin'),
        url('MazzardH-Thin.eot?#iefix') format('embedded-opentype'),
        url('MazzardH-Thin.woff2') format('woff2'),
        url('MazzardH-Thin.woff') format('woff'),
        url('MazzardH-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mazzard H';
    src: url('MazzardH-SemiBoldItalic.eot');
    src: local('Mazzard H SemiBold Italic'), local('MazzardH-SemiBoldItalic'),
        url('MazzardH-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('MazzardH-SemiBoldItalic.woff2') format('woff2'),
        url('MazzardH-SemiBoldItalic.woff') format('woff'),
        url('MazzardH-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Mazzard H';
    src: url('MazzardH-ThinItalic.eot');
    src: local('Mazzard H Thin Italic'), local('MazzardH-ThinItalic'),
        url('MazzardH-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('MazzardH-ThinItalic.woff2') format('woff2'),
        url('MazzardH-ThinItalic.woff') format('woff'),
        url('MazzardH-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mazzard H';
    src: url('MazzardH-Bold.eot');
    src: local('Mazzard H Bold'), local('MazzardH-Bold'),
        url('MazzardH-Bold.eot?#iefix') format('embedded-opentype'),
        url('MazzardH-Bold.woff2') format('woff2'),
        url('MazzardH-Bold.woff') format('woff'),
        url('MazzardH-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mazzard H';
    src: url('MazzardH-Regular.eot');
    src: local('Mazzard H Regular'), local('MazzardH-Regular'),
        url('MazzardH-Regular.eot?#iefix') format('embedded-opentype'),
        url('MazzardH-Regular.woff2') format('woff2'),
        url('MazzardH-Regular.woff') format('woff'),
        url('MazzardH-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mazzard H';
    src: url('MazzardH-SemiBold.eot');
    src: local('Mazzard H SemiBold'), local('MazzardH-SemiBold'),
        url('MazzardH-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('MazzardH-SemiBold.woff2') format('woff2'),
        url('MazzardH-SemiBold.woff') format('woff'),
        url('MazzardH-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mazzard H';
    src: url('MazzardH-BoldItalic.eot');
    src: local('Mazzard H Bold Italic'), local('MazzardH-BoldItalic'),
        url('MazzardH-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('MazzardH-BoldItalic.woff2') format('woff2'),
        url('MazzardH-BoldItalic.woff') format('woff'),
        url('MazzardH-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mazzard H';
    src: url('MazzardH-ExtraLightItalic.eot');
    src: local('Mazzard H ExtraLight Italic'), local('MazzardH-ExtraLightItalic'),
        url('MazzardH-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('MazzardH-ExtraLightItalic.woff2') format('woff2'),
        url('MazzardH-ExtraLightItalic.woff') format('woff'),
        url('MazzardH-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mazzard H';
    src: url('MazzardH-ExtraBold.eot');
    src: local('Mazzard H ExtraBold'), local('MazzardH-ExtraBold'),
        url('MazzardH-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('MazzardH-ExtraBold.woff2') format('woff2'),
        url('MazzardH-ExtraBold.woff') format('woff'),
        url('MazzardH-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

